<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bole.mapper.CompanyMapper">
  <select id="findCompanyAll"  resultType="cn.bole.pojo.CompanyRM" >
    select * from com c ,com_info ci
     where ci.company_info_id =c.company_id 
  </select>
<resultMap type="cn.bole.pojo.Company" id="cn.bole.pojo.CompanyRM" autoMapping="true">
   <id column="company_id" property="companyId"/>
   <association property="companyInfo" javaType="cn.bole.pojo.CompanyInfo" resultMap="cn.bole.pojo.CompanyInfoRM">
   </association>
  </resultMap>
  <resultMap type="cn.bole.pojo.CompanyInfo" id="cn.bole.pojo.CompanyInfoRM" autoMapping="true">  
  </resultMap>
</mapper>