<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bole.mapper.IndustryMapper">

	<select id="findAllIndustry" resultMap="industryRM">
		select * from industry i
		left join 
		(select profession_id,profession_name,industry_id p_id from profession)p
		on i.industry_id=p.p_id
	</select>
	<resultMap type="cn.bole.pojo.Industry" id="industryRM" autoMapping="true">
		<id column="industry_id" property="industryId"/>
		<collection property="professionList" ofType="cn.bole.pojo.Profession">
			<id column="profession_id" property="professionId"/>
			<result column="profession_name" property="professionName"/>
		</collection>
		
	</resultMap>



</mapper>