<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bole.mapper.JobInfoMapper">

	
	
	
	 <insert id="saveJobInfo">
	     insert into job_info(job_info_id,city,work_experience,discription) values(
	      <if test="jobInfoId !=null">#{jobInfoId},</if>
	      <if test="city !=null">#{city},</if>
	      <if test="workExperience !=null">#{workExperience},</if>
	      <if test="discription !=null">#{discription}</if>
	
		)
	 </insert>
	 
	 
	 
	 
	
	
	
</mapper>