<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bole.mapper.UserInfoMapper">
	<select id="findUserInfoByUserId" resultType="cn.bole.pojo.UserInfo">
		select * from user_info where user_info_id=#{userId}
	</select>
	<insert id="save">
		insert into user_info(user_info_id,email,realname) values(#{userInfoId},#{email},#{realname})
	</insert>
	<update id="updateUserInfo">
		update user_info
		<set>
			realname=#{realname},
			sex=#{sex},
			education=#{education},		
			work_pre=#{workPre},
			telphone=#{telphone}
		</set>			
		where user_info_id=#{userInfoId}
	</update>
	  <select id="findResumeByUserId" resultMap="ResumRm" >
    	select * from resume where user_id=#{userId}
    </select>
	 <resultMap type="cn.bole.pojo.Resum" id="ResumRm">
    	<id  column="resum_id" property="resumId"></id>
    	<result  column="resume_name" property="resumeName"></result>
    	<result  column="company_name" property="companyName"></result>
    	<result  column="position_name" property="positionName"></result>
    	<result  column="company_yearstart" property="companyYearStart"></result>
    	<result  column="company_yearend" property="companyYearEnd"></result>
    	<result  column="company_monthstart" property="companyMonthStart"></result>
    	<result  column="company_monthend" property="companyMonthEnd"></result>
    	<result  column="expectposition" property="expectPosition"></result>
    	<result  column="expectcity" property="expectCity"></result>
    	<result  column="expectsalary" property="expectSalary"></result>
    </resultMap>
</mapper>