<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bole.mapper.UserMapper">

    
    <insert id="save" parameterType="cn.bole.pojo.User">
    	insert into user (user_id,email,password) values(
    		#{userId},
    		#{email},
    		#{password}
    	) 
    </insert>
	<select id="findUser" resultMap="UserRm">
    	select USER_ID,password,USER_INFO_ID,realname,u.email
		from user u,user_info i 
		where u.email=#{email} and u.password=#{password} and i.email=#{email}
    </select>
    <resultMap type="cn.bole.pojo.User" id="UserRm" autoMapping="true">
    	<id column="user_id" property="userId"/>
    	<association property="userInfo" javaType="cn.bole.pojo.UserInfo">
    		<id column="user_id"  property="userInfoId"/>
    		<result column="realname" property="realname"/>
    	</association>
    </resultMap>
</mapper>