<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bole.mapper.UserMapper">

    
    <insert id="save" parameterType="cn.bole.pojo.User">
    	insert into user (user_id,email,password) values(
    		#{id},
    		#{email},
    		#{password}
    	) 
    </insert>
	<select id="findUser" resultType="cn.bole.pojo.User">
    	select email,password from user where email=#{email} and password=#{password}
    </select>
</mapper>